@charset "UTF-8";


/*横長に対応するサイズ設定*/
canvas{
  width: 95vw;
  max-width: 100vh; /*縦が画面に入りきらなくならないように縦の80%が最大に設定*//*80*1000/800*/
}


.display_function{
  font-family: 'Times New Roman italic';
  font-size: 2.0rem;
}

#function1{
  color: blue;
}

#function2{
  color: red;
}
